<section class="newsletter">
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="content">
                    <form>
                        <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe Now</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"presets": [{
"category": "Custom Content",
"name": "Newsletter"
}]
}

{% endschema %}